$white: #FFFFFF;
$grey: #555555;
$grey-light: #CCCCCC;

$font-family-base: arial, helvetica, sans-serif;
$font-size-base: 14px;
$font-size-small: 12px;

$border-base: 1px solid $grey-light;
$border-radius-base: 4px;

$padding-base: 10px;
$margin-large: 20px;
$margin-base: 10px;
$margin-small: 5px;
